version: '3.8' # Use a versão apropriada do Compose

services:
  mysql-db:
    container_name: mysql-db
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: "admin"
      MYSQL_DATABASE: "bdLocal"
      MYSQL_USER: "admin"
      MYSQL_PASSWORD: "admin"
      TZ: "America/Sao_Paulo"
    ports:
      - "3308:3306"
    networks:
      - db-network
    restart: always

networks:
  db-network: # Aqui você está definindo a rede
    driver: bridge
